<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>代码部署</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">首页</a>
                    </li>
                    <li role="presentation"><a href="showSignIn">登录</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">注册</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">代码部署</h3>
        </div>
 
        <div class="jumbotron">
            <h1>一键发布</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">现在就注册吧</a>
            </p>
        </div>
 
        
        <footer class="footer">
            <p>&copy; SMM 2016</p>
        </footer>
 
    </div>
</body>
 
</html>