<!DOCTYPE html>
<html >
  <head>
    <title>注册</title>
 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.2.js"></script>
    <script src="../static/js/signUp.js"> </script>
    
  </head>
 
  <body>
 
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">首页</a></li>
            <li role="presentation"><a href="showSignIn">登录</a></li>
            <li role="presentation" class="active"><a href="showSignUp">注册</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">代码部署</h3>
      </div>
 
      <div class="jumbotron">
        <h1>注册账号</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="名字" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="邮箱" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="密码" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">注册</button>
      </form>
      </div>
 
       
 
      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>
 
    </div>
  </body>
</html>