<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>代码部署管理</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">
    <script src="../static/js/jquery-1.12.2.js"></script>
    <script>
        $(function(){
            $.ajax({
                url : '/getWish',
                type : 'GET',
                success: function(res){
                    var tr = $('<tr>')
					
        		.append($('<td>').attr('class', 'id'));
            tr.append($('<td>').attr('class', 'name'));
			tr.append($('<td>').attr('class', 'title'));
			tr.append($('<td>').attr('class', 'link'));
		    tr.append($('<td>').attr('class', 'description'));
				tr.append($('<span>').attr('class', 'action-btn')
			
			);
                                    
                    
                    
                    var wishObj = JSON.parse(res);
                    var wish = '';
                    
                    $.each(wishObj,function(index, value){
                        wish = $(tr).clone();
                        $(wish).find('td.id').text(value.id);
						$(wish).find('td.name').text(value.name);
						$(wish).find('td.link').text(value.link);
                        $(wish).find('td.title').text(value.title);
						$(wish).find('.action-btn').text("发布");
                        $('.deploy-rows').append(wish);
                    });
                },
                error: function(error){
                    console.log(error);
                }
            });
        });
    </script>
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="/logout">退出</a>
                    </li>
                    <li role="presentation"><a href="/showAddWish">添加仓库</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">代码部署</h3>
        </div>
 
        <div class="">
            <table class="table">
			    <thead>
			        <tr>
			            <th>id</th>
						<th>名字</th>
			            <th>标题</th>
						<th>仓库地址</th>
						<th>描述</th>
			            <th>操作</th>
			        </tr>
			    </thead>
			    <tbody class="deploy-rows">
			      
			    </tbody>
			</table>

 
        </div>
 
 
        <footer class="footer">
            <p>&copy; SMM 2016</p>
        </footer>
 
    </div>
</body>
 
</html>